/*all*/
/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/*all*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  text-align: center;
  padding: 10px 0px;
}

/*main*/
.keyboard-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0.625em 0em;
}
.keyboard-row {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3125em;
}
kbd.kbd-key {
  cursor: pointer;
  padding: 8px 14px;
  margin: 0 0.3em;
  border-radius: 0.3125em;
}
#led-circle {
  color: green;
}
.space {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30%;
  padding: 15px 0px;
  color: #fff;
  border-radius: 0.3125em;
  transition: 1s ease;
}
/*footer*/
/*author-description*/
.author-description {
  text-align: center;
  padding: 10px 0px;
}

.text-area {
  display: flex;
  justify-content: center;
}
